@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';
/* You can add global styles to this file, and also import other style files */
body {
  overflow-y:hidden;
  background-color:black;
}

.bannerText {
  display: inline-block;
}
.paddingLeft {padding-left:50px; }
.noPadding {
  padding: 0 !important;
  margin: 0 !important;
}
.hiddenOverflow{
  overflow: hidden;
}
.bannerContainer{
  height: 50vh;
  text-align: center;
}
.bannerTitle{
  display: inline-block;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.carousel-item {
  /* Force to always be block */
  display: block !important;
  z-index: 1;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

.carousel-item.active {
  position: relative;
  transform: translateX(0);
  visibility: visible ;
  opacity: 1;
}
