@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';
/* You can add global styles to this file, and also import other style files */
.paddingLeft {padding-left:50px; }
.noPadding {
  padding: 0 !important;
  margin: 0 !important;
}
.hiddenOverflow{
  overflow: hidden;
}
.bannerHeight{
  max-height: 300px;
}
.carousel-item {
  /* Force to always be block */
  display: block !important;
  z-index: 1;
  position: absolute;
  transform: rotate(350deg);
  opacity: 0;
  transition:all  2s;
  visibility: hidden;
}

.carousel-item.active {
  position: relative;
  transform: translateX(0);
  visibility: visible ;
  opacity: 1;
}
